body {
    background-image: url("../img/road.png");
    background-size: cover;
}

input {
    margin: 10px;
    opacity: 0.8;
    color: #0C0B0B; 
}

#result {
    width: 250px;
}

::-webkit-input-placeholder {
    color: #191717;
}

#navText {
    color: #E4DCC8;
}

.btn {
    margin-right: 10px;
}

